.spec_embla {
    @apply w-full m-auto;
}

.spec_embla {
    --slide-height: 100%;
    --slide-spacing: 1rem;
    --slide-size: 25%;
}

.spec_embla__viewport {
    height: 45vh;
    width: 100%;
}

@media (max-width: 1359px) {
    .spec_embla {
        --slide-size: 30%;
    }

    .spec_embla__viewport {
        height: 20vh;
    }
}

.spec_embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
    height: 100%;
}

.spec_embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    height: 100%;
}

.spec_embla__slide__number {
    border-radius: 1.8rem;
    height: 45vh;
    user-select: none;
    max-height: 75%;
    object-fit: fill;
}

.spec_embla__slide__number {
    @apply shadow-lg bg-base-100;
}
