@tailwind base;
@tailwind components;
@tailwind utilities;

.kodchasan {
    font-family: var(--font-kodchasan) !important;
}

.Cairo {
    font-family: var(--font-Cairo) !important;
}

.slide-menu-bottom {
    -webkit-animation: slide-menu-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-menu-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-menu-bottom {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-menu-bottom {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.slider-control-centerleft button {
    position: absolute;
    top: 0;
    left: 30%;
    background-color: #3b82f6 !important;
    color: white !important;
    border-radius: 10px;
    height: 30px !important;
    text-align: center;
    padding: 0 8px !important;
    width: 100px !important;

    margin: 1rem 0 !important;
}

.slider-control-centerright button {
    position: absolute;
    top: 0;
    right: 30%;
    background-color: #3b82f6 !important;
    border-radius: 10px;
    height: 30px !important;
    text-align: center;
    padding: 0 8px !important;
    width: 100px !important;
    color: white !important;
    margin: 1rem 0 !important;
}

.slider-control-bottomcenter {
    display: none;
}

.slider-container {
    overflow-y: scroll;
    max-height: 78vh;
    padding-right: 1rem;
}

@media (max-width: 890px) {
    .slider-control-centerleft button {
        left: 10%;
    }

    .slider-control-centerright button {
        right: 10%;
    }
}

@media (max-width: 360px) {
    .slider-control-centerleft button {
        left: 2%;
    }

    .slider-control-centerright button {
        right: 2%;
    }
}

.css-13cymwt-control,
.css-t3ipsp-control {
    height: 100% !important;
}

iframe {
    width: 100% !important;
}

/*
*[class="MuiInputBase-input MuiOutlinedInput-input MuiInputBase-inputAdornedEnd css-nxo287-MuiInputBase-input-MuiOutlinedInput-input"] {
    padding: 12px !important;
    width: 100% !important;
}

*[class="MuiFormControl-root MuiTextField-root css-z3c6am-MuiFormControl-root-MuiTextField-root"] {
    width: 100% !important;
}

*[class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedEnd css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root"] {
    border-radius: 9px !important;
    width: 100% !important;
}

*[class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedEnd css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root"]:hover {
    border-color: #D2D4D7 !important;
}

*[class="MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedEnd css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root"]:focus {
    outline-color: #007BFF !important;
    border-color: #007BFF !important;
} */

.eventContent {
    background-color: transparent !important;
    border-color: #ccc; /* لون الحدود الافتراضي */
}

.fc-event {
    background-color: transparent !important; /* تعيين خلفية شفافة */
    border-color: #ccc; /* لون الحدود الافتراضي */
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity)) /* #d1d5db */;
    border-radius: 0.375rem /* 6px */;
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 123 255 / var(--tw-bg-opacity)) /* #007bff */;
}

html {
    scrollbar-width: 5px;
    scrollbar-shadow-color: rgba(0, 0, 0, 0.1);
    scrollbar-color: rgba(209 213 219);
}

.badge {
    height: auto !important;
}